.App {
  width: 400px;
  padding-bottom: 20px;
  margin: 50px auto;
  color: #616161;
  border: 1px solid #616161;
  box-shadow: 5px 5px 5px #616161;
  border-radius: 5px;
  text-align: center;
}
input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
button {
  width: 80%;
  font-size: 14px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
